@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-cinzel: "Cinzel Decorative", serif;
  --font-montserrat: "Montserrat", serif;
  --font-poppins: "Poppins",serif;
  --font-lato: "Lato", serif;
}